#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


#wrapper {
  display: grid;
  grid-template-areas:
          "header header"
          "input book";
  grid-template-columns: 1fr 2fr;
  
}

#title {
  grid-area: header;
}

#input {
  grid-area: input;
}

#phonebook {
  grid-area: book;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-items: start;
  gap: 0.2rem;
  padding: 1rem;
  padding-left: 3rem;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}
.col-right {
  align-items: end;
}

.gap-2{
  gap: 2rem;
}

.border-1 {
  border: white 1px solid;
}

label {
  font-size: x-large;
}
input {
  font-size: x-large;
}

.error {
  border: 3px red dashed;
}