#contact-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: end;
    background-color: gray;
    border: 2px gray outset;
    padding: 0 0.5rem;
    color: black;
    width: 100%;
}

#contact-wrapper:hover {
    border-style: inset;
    background-color: rgb(169, 169, 169);
}

